ConsoleApplicationTest/Service References/ServiceReferenceAddition/ServiceAddition.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceAddition" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63108/ServiceAddition.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63108/ServiceAddition.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63108/ServiceAddition.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFTestWebService" />
      <xsd:import schemaLocation="http://localhost:63108/ServiceAddition.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceAddition_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServiceAddition_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAddition_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServiceAddition_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAddition_Addition_InputMessage">
    <wsdl:part name="parameters" element="tns:Addition" />
  </wsdl:message>
  <wsdl:message name="IServiceAddition_Addition_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdditionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAddition_AddName_InputMessage">
    <wsdl:part name="parameters" element="tns:AddName" />
  </wsdl:message>
  <wsdl:message name="IServiceAddition_AddName_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNameResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAddition_RemoveName_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveName" />
  </wsdl:message>
  <wsdl:message name="IServiceAddition_RemoveName_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveNameResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAddition_GenerateNameList_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateNameList" />
  </wsdl:message>
  <wsdl:message name="IServiceAddition_GenerateNameList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateNameListResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceAddition">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAddition/GetData" message="tns:IServiceAddition_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAddition/GetDataResponse" message="tns:IServiceAddition_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAddition/GetDataUsingDataContract" message="tns:IServiceAddition_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAddition/GetDataUsingDataContractResponse" message="tns:IServiceAddition_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Addition">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAddition/Addition" message="tns:IServiceAddition_Addition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAddition/AdditionResponse" message="tns:IServiceAddition_Addition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddName">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAddition/AddName" message="tns:IServiceAddition_AddName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAddition/AddNameResponse" message="tns:IServiceAddition_AddName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveName">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAddition/RemoveName" message="tns:IServiceAddition_RemoveName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAddition/RemoveNameResponse" message="tns:IServiceAddition_RemoveName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateNameList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAddition/GenerateNameList" message="tns:IServiceAddition_GenerateNameList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAddition/GenerateNameListResponse" message="tns:IServiceAddition_GenerateNameList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceAddition" type="tns:IServiceAddition">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServiceAddition/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServiceAddition/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Addition">
      <soap:operation soapAction="http://tempuri.org/IServiceAddition/Addition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddName">
      <soap:operation soapAction="http://tempuri.org/IServiceAddition/AddName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveName">
      <soap:operation soapAction="http://tempuri.org/IServiceAddition/RemoveName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateNameList">
      <soap:operation soapAction="http://tempuri.org/IServiceAddition/GenerateNameList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAddition">
    <wsdl:port name="BasicHttpBinding_IServiceAddition" binding="tns:BasicHttpBinding_IServiceAddition">
      <soap:address location="http://localhost:63108/ServiceAddition.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>